/* Empty. Add your own CSS if you like */

/* Empty. Add your own CSS if you like */
.bar.bar-footer.bar-positive .row{
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 100px 0px;
    width: 100%;
    table-layout: fixed;
    
}
.bar.bar-footer.bar-positive .row .col{
    display: inline-block;
    width: 10%;
    text-align:center;
}

.content {

    height: 100%;
    width: 100%;

}
.content .list.list-inset{
    height: (100%/3);
    width: 90%;
    display: inline-block
}

.button.button-positive {
    width: 30%;
    margin: auto;
    display: block;
}

.button.button-positive.button-clear.button-block {
    width: 100%;
}

.scroll-bar-indicator
{
	display: none;
}

.main_title {
    width: 100%;
    text-align: center;
}
