<ion-view view-title="Calendar">
    <ion-nav-buttons side="right">
        <button class="button" ng-disabled="isToday()" ng-click="today()">Today</button>
        <button class="button" ng-click="changeMode('month')">M</button>
        <button class="button" ng-click="changeMode('week')">W</button>
        <button class="button" ng-click="changeMode('day')">D</button>
    </ion-nav-buttons>
  <ion-content scroll="false" class="main-content" >
    <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode"
                  event-source="calendar.eventSource"
                  range-changed="reloadSource(startTime, endTime)"
                  event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
                  time-selected="onTimeSelected(selectedTime, events, disabled)" step="30"></calendar>
  </ion-content>
</ion-view>
