<ion-view side="center" title="Create Job Post">

    <ion-content>
        <form class="list">
            <div class="list card">

                <ion-list>
                    <label class="item item-input">
                        <span class="input-label">Company Name</span>
                        <input type="text" placeholder="" ng-model="job.com_name">
                        
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Location</span>
                        <input ng-model="job.location" type="text" placeholder="" >
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Position</span>
                        <input type="text" placeholder="" ng-model="job.title">
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Description</span>
                        <textarea type="text" rows="8" placeholder="max length: 100" ng-model="job.description" ></textarea>
                    </label>

                    <label class="item item-input">
                        <span class="input-label">Duration</span>
                        <input type="text" placeholder="ex. Summer - start in May" ng-model="job.duration">
                    </label>
                </ion-list>
            </div>

            <div class="spacer" style="height: 40px;"></div>
            <span width="80%">
                         <button class="button button-outline button-positive" ng-click="onsubmit()"><strong>Create</strong></button>
            </span>

        </form>
    </ion-content>

</ion-view>