<ion-view title="Profile">
  <ion-pane>
    <ion-header-bar class="bar bar-header bar-positive">
      <ion-navbar>
        <button class="button button-clear ion-navicon-round pull-left"></button>
        <h1 class="title">Profile</h1>
        <button class="button button-clear ion-search pull-right"></button>
      </ion-navbar>
    </ion-header-bar>

    <ion-content class="content">

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Event Name">
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Event Time">
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Event Date">
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Event Location">
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Event Description">
        </label>
      </div>
    </ion-content>

    <ion-footer-bar class="bar bar-footer bar-positive">
      <div class="row">
                <span class="col text-left">
          <button class="button button-clear ion-chevron-left"></button>
        </span>
                <span class="col text-center">
          <button class="button button-clear ion-android-radio-button-off"></button>
        </span>
                <span class="col text-right">
          <button class="button ion-android-checkbox-outline-blank button-clear"></button>
        </span>
      </div>
    </ion-footer-bar>
  </ion-pane>
</ion-view>
