<ion-view title="Connections">

    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="search by last name" ng-model="searchQuery.last_name" />
        </label>
        <div class="list card">

            <ion-item ng-repeat="item in connectionList | filter:searchQuery" href="#/app/profile/{{item.id}}">
                <a class="item item-avatar">
                <img src={{item.profile}}>
                <h2>{{item.first_name }} {{item.last_name}}</h2>
                <p id="email-block">{{item.email}}</p>
                </a>
            </ion-item>

        </div>


    </ion-content>

</ion-view>