<ion-view title="Upcoming Events">

    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="search events by name" ng-model="searchQuery.title" />
        </label>
        <div class="list card">
            <ion-item ng-repeat="item in eventList | filter:searchQuery" href="#/app/event/{{item.id}}">
                <h2><i class=" icon ion-android-calendar "></i> {{item.title }}</h2>
                <div>{{item.begin_time}} at {{item.location}}</div>
            </ion-item>
        </div>
    </ion-content>

</ion-view>